@mixin flex ($h: null, $v: null) {
  display: flex;
  @if($h) { justify-content: $h; }
  @if($v) { align-items: $v; }
}

@mixin size ($w: null, $h: null) {
  @if($w) { width: $w; }
  @if($h) { height: $h; }
  @else if($w) { height: $w }
}

@mixin disabled ($opacity: null) {
  opacity: $opacity;
  pointer-events: none;
}

@mixin buttonTheme (
  $stdBg: null,
  $stdColor: null,
  $hoverBg: null,
  $activeBg: null,
) {
  @include transition(background-color);

  background-color: $stdBg;
  color: $stdColor;

  &:hover:enabled {
    background-color: $hoverBg;
  }

  &:active:enabled {
    background-color: $activeBg;
  }

  &:focus {
    background-color: $activeBg;
  }
}

@mixin clearinput() {
  padding: 0;
  border: 0;
  border-radius: inherit;
  background: none;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  caret-color: currentColor;
  outline: none;
  appearance: none;
  word-break: keep-all;
  -webkit-text-fill-color: currentColor; // for Safari

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
      border-radius: inherit;
      -webkit-text-fill-color: inherit !important;
      color: inherit !important;
      background-color: transparent !important;
      -webkit-box-shadow: 0 0 0 1000px var(--smed-base-09)5c0 inset !important; // to overlay native background
  }
}

@mixin clearbutton() {
  appearance: none;
  padding: 0;
  border: 0;
  background: none;
  font-size: inherit;
  line-height: inherit;

  &:focus, &:active {
    outline: none;
  }
}

@mixin transition ($prop, $duration: .2s, $timing: linear) {
  transition: $prop $duration $timing;
}
