@font-face {
  font-family: 'MTSSans';
  src: url("~@smartmed/webpatient-vue-components/assets/fonts/MTSSans-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MTSSans';
  src: url('~@smartmed/webpatient-vue-components/assets/fonts/MTSSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MTSSans';
  src: url('~@smartmed/webpatient-vue-components/assets/fonts/MTSSans-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MTSSans';
  src: url('~@smartmed/webpatient-vue-components/assets/fonts/MTSSans-Black.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MTSSans';
  src: url('~@smartmed/webpatient-vue-components/assets/fonts/MTSSans-UltraWide.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}